@model IEnumerable<FootballManager.Models.Fixture>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NFixture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NFixture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
